<div id="panelWizardPage">
    <div id="panelWizard" class="panelWizard">
        <div class="wizardSteps">
            <ul class="nav nav-pills nav-justified">
                <li href="" ng-repeat="pane in panes" ng-class="{active:pane.selected}">
                    <a>{{pane.paneltitle}}</a>
                </li>
            </ul>
        </div>

        <div id="progressBar" class="progress progress-striped active">
            <div 
                class="progress-bar"  
                role="progressbar" 
                aria-valuenow="45" 
                aria-valuemin="0" 
                aria-valuemax="100">
                <span class="sr-only">100% Complete</span>
            </div>
        </div>

        <div class="tabContent transcludeContainer">

        </div>
        <div class="panel-body">
            <button id="backStep"
                    class="pull-left backStep btn btn-lg btn-primary" ng-click="backStep()">
                 <i class="fa fa-arrow-left"></i>&ensp;{{backLabel}}
            </button>

            <button id="nextStep"
                    class="pull-right nextStep btn btn-lg btn-primary" ng-click="nextStep()">
                {{nextLabel}}&ensp;<i class="fa fa-arrow-right"></i>
            </button>
        </div>
        <div id="alertRequired"
             class="alert alert-danger col-lg-6 icon-spam col-lg-offset-3 ui-hidden">
            &emsp;{{alertLabel}}
        </div>
    </div>
</div>